<div class="main">
  <div class="container-fluid" style="min-width: 600px;">
    <div class="row" style="height:100%">
      <div class="col left-bar" >
        <input type="number" class="form-control" [(ngModel)]="integerValue">
      </div>
      <div class="col middle-bar">
        <select [(ngModel)]="calculationValue">
          <option *ngFor="let item of calculation" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="col right-bar" >
        {{calculateSummary()}}
      </div>
    </div>
  </div>
</div>

{{integerValue}}